Repository HectorPeeters/fontoxpath, pull requests merged in 2021-05, with the labels that each got.

#26 25 binop function
  src/expressions/dataTypes/Value.ts
  src/expressions/operators/arithmetic/BinaryOperator.ts
  src/parsing/astHelper.ts
  src/parsing/compileAstToExpression.ts
  src/typeInference/annotateAST.ts
  src/typeInference/annotateBinaryOperator.ts
  src/typeInference/annotateUnaryOperator.ts
  src/typeInference/binaryEvaluationFunction.ts
  src/typeInference/insertAttribute.ts
  test/assets/unrunnableTestCases.csv
Labels: enhancement

#68 Added even more documentation to the function signatures
  src/expressions/operators/arithmetic/BinaryOperator.ts
  src/typeInference/annotateAST.ts
  src/typeInference/annotateBinaryOperator.ts
  src/typeInference/annotateCastOperators.ts
  src/typeInference/annotateCompareOperator.ts
  src/typeInference/annotateFunctionCall.ts
  src/typeInference/annotateUnaryOperator.ts
  src/typeInference/binaryEvaluationFunction.ts
Labels: documentation

#70 Add type annotation to sequenceExpr
  src/expressions/operators/IntersectExcept.ts
  src/expressions/operators/SequenceOperator.ts
  src/expressions/operators/Union.ts
  src/parsing/compileAstToExpression.ts
  src/typeInference/annotateAST.ts
  src/typeInference/annotateBinaryOperator.ts
  src/typeInference/annotateRangeSequenceOperator.ts
  src/typeInference/annotateSequenceOperator.ts
  src/typeInference/annotateSetOperators.ts
  src/typeInference/annotateStringConcatenateOperator.ts
Labels: AST, type inference

#74 Add type annotation to pathExpr
  src/expressions/operators/arithmetic/BinaryOperator.ts
  src/parsing/compileAstToExpression.ts
  src/typeInference/annotateAST.ts
  src/typeInference/annotateBinaryOperator.ts
  src/typeInference/annotatePathExpr.ts
Labels: AST, type inference

#96 Added more tests to newly created code
  src/typeInference/annotateAST.ts
  test/specs/annotation.tests.ts
Labels: tests
